footer{
    height: 30px;
}
.progress-bar-container{
    height: 30px;
    display: flex;
}
.range {
  position: relative;
  background-color: #333;
  height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.range::before {
    --width: calc(var(--p) * 1%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    max-width: inherit;
    height: 100%;
    background-color: #287a1d;
    z-index: 0;
    animation: load 0.5s forwards linear;
  }

.range::after {
    /*counter-reset: progress var(--p);*/
    color: #000;
    position: absolute;
    left: 5%;
    top: 50%;
    /*transform: translateY(-50%) skewX(-30deg);*/
    z-index: 1;
  }

.range__label{
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  color: white;
}
@keyframes load {
  to {
    width: var(--width);
  }
}